.header{
    height: 80px;
    
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    align-items: center;
}
.header h1{
    font-size: 20px;
}
.header-nav{
    margin-top: 15px;
}
.header-nav  a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    
}
.menu{
    display: flex;
    gap: 20px;
    
}
.menu a:hover{
    color: rgb(255, 217, 0);
}

@media only screen and (max-width:688px) {
    .header{
        padding: 5px;
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        align-items: center;
    }
  }