.cover{
    width: 845px;
    border-radius: 10px;
}
.author_container{
    display: flex;
    justify-content: space-between;
}
.pro_img img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-top: 20px;
}
.blog_data{
    display: flex;
    gap: 20px;
}
.author_info p{
    margin-top: -10px;
}