.shop-container{
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding-left: 200px;
}
.product-container{
    margin: 80px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 45px;
}