.shop-container{
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding-left: 200px;
}
.product-container{
    margin: 80px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 45px;
}
.cart-container{
    margin-top: 15px;
    position: sticky;
    top: 80px;
    background-color: #1111111f;
    width: 414px;
    border-radius: 10px;
    margin-top: 80px;

    
}

@media screen and (min-width: 689px) and (max-width: 992px) {
    .shop-container{
        display: flex;
        flex-direction: column;
        
        margin: 0;
    }
    .product-container{
        
    }
  }
@media only screen and (max-width:688px) {
    .shop-container{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .product-container{
        margin: 0;
        padding: 10px;
        margin-left: 0px;
        margin-top: 30px;
    }
    .cart-container{
        margin: 0px;
        width: 100vw;
    
        
    }
  }
  @media screen and (min-width: 1280px) and (max-width:1366px){
    .shop-container{
        
        margin: 0;
        padding: 0;
    }
  }
