.info{

    
}
/* .info h3{
    padding: 20px;
    margin: 0;
} */
.info-title{
    background-color: white;
    padding: 10px;
    margin: 0px 15px 0px 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
p{
    font-weight: 600;
}

@media only screen and (max-width:688px) {
    .info-title{
        
        padding: 10px;
        margin: 0px 15px 0px 15px;
        border-radius: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
       
    }
  }