.time{
    /* position: sticky;
    top: 0; */

    background-color: #6047ec50;
    width: 411px;
    padding: 1px;
    text-align: center;
    border: 1px solid #6047EC;
    border-radius: 10px;
    color: #6047EC;
}

@media only screen and (max-width:688px) {
    .time{
        
        width: 93vw;
        padding: 1px;
        color: #6047EC;
        margin: auto;
    }
  }